/* === ESTILOS ACTUALIZADOS (Fondo de Hero) === */

.footer {
    /* === CAMBIO: Ahora usa el color del Hero === */
    background-color: var(--color-dark-bg); 
    
    padding: 50px 0;
    text-align: center;
    margin-top: 0;
    border-top: 1px solid #555; /* Mantenemos el borde para separarlo */
  }
  
  .copyright {
    text-align: center;
    padding: 0;
    font-size: 0.9rem;
    color: #aaa;
  }